body{
    background: url(patterns/dark_Tire.png);
}

.technologies div i{
    font-size:2.2rem;

}

.technologies div i img{
    height: 2.0rem;
}

.introduction{
    padding-left:10px;
}

.return-btn{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}