@keyframes rocketLaunch {
    0%{

    }
    10%{
        transform: translateY(15px);
    }
    15%{
        transform: translateY(-110px); 
    }
    25%{
        transform: translateY(-110px) rotate(90deg); 
    }
    30%{
        transform: translateX(-15px) translateY(-110px) rotate(90deg); 
    }
    40%{
        transform: translateX(85px) translateY(-110px) rotate(90deg); 
    }
    50%{
        transform: translateX(85px) translateY(-110px) rotate(45deg);
    }
 
    60%{
        transform: translateX(700px) translateY(-600px) rotate(45deg);

    }
    62%{
        transform: translateX(700px) translateY(-600px) rotate(180deg);

    }
    66%{
        transform: translateX(700px) translateY(500px) rotate(180deg); 
    }
    67%{
        transform: translateX(700px) translateY(500px) rotate(270deg); 
    }
    77%{
        transform: translateX(-2000px) translateY(500px) rotate(270deg); 

    }
    78%{
        transform: translateX(-2000px) translateY(250px) rotate(90deg);  
    }
    88%{
        transform: translateX(0) translateY(250px) rotate(90deg);  
    }
    95%{
        transform: translateX(0) translateY(250px) rotate(0);
    }
    100%{
        transform: translateX(0) translateY(0) rotate(0);
    }

    /*@keyframes rocketLaunch {
    0%{

    }
    15%{
        transform: translateY(15px);
    }
    30%{
        transform: translateY(-110px); 
    }
    50%{
        transform: translateY(-110px) rotate(90deg); 
    }
    60%{
        transform: translateX(-15px) translateY(-110px) rotate(90deg); 
    }
    75%{
        transform: translateX(85px) translateY(-110px) rotate(90deg); 
    }
    85%{
        transform: translateX(85px) translateY(-110px) rotate(45deg);
    }
 
    100%{
        transform: translateX(700px) translateY(-600px) rotate(45deg);

    }*/


   
}
@keyframes shakeLaunch{
    0%{

    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
body{
    background: url(patterns/natural_paper.png);
}
.row{
    margin-bottom:0;
}
.main_tiles{
    height: 50vh;
    min-height: 400px;  
}
@media screen and (min-width:670px){
    .main-tiles{
        height: 100vh;
    }
}
.tile_1{
    background: url(patterns/halftone-yellow.png);
}
.tile_2{
    background: url(patterns/light_alu.png);
}
.tile_3{
    background: url(patterns/dark_Tire.png);
}
.tile_4{
    background: url(patterns/grey_wash_wall.png);
}
.sidenav{
    background: url(patterns/gaming-pattern.png);
}

.tile_1 div img{
    max-height: 200px;
}
.tile_2 div img{
   max-height: 90px;
   margin-top:15vh;
   /* animation-name: rocketLaunch;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay:0.5s;
    /*animation-iteration-count: infinite;
    animation-fill-mode: forwards;*/
}
.rocketAnimation{
    animation-name: rocketLaunch;
    animation-duration: 7s;
    animation-timing-function: linear;
    /*animation-iteration-count: infinite;*/
    animation-fill-mode: forwards;

}
.shakeAnimation{
    animation-name: shakeLaunch;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;    
}
    

.tile_3 div img{
 max-height: 200px;

}
.tile_4 div img{
    max-height: 250px;

}
.animated_border{
    padding-bottom: 5px;
}

.letterMove{
    transform: translateX(500px);
}
.letterImageTag{
    transition: all 1s ease-in;

}
